<!DOCTYPE HTML>
 <html >
  <head>
    <meta charset="utf-8">
    <title>Table (6 columns with heading and spanning multiple columns) | </title>
    <meta name="description" content="DESCRIPTION">
    <meta name="author" content="AUTHOR NAME">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/src/assets/images/icon.ico">
    
      <link rel="stylesheet" href="/src/assets/css/theme.bundle.css" media="screen">
    
      <link rel="stylesheet" href="/src/assets/css/bootstrap.min.css" media="screen">
    
      <link rel="stylesheet" href="/src/assets/css/style.css" media="screen">
    
  </head>
  <body id="content">
    <h3>Tanzania Safari Cost</h3>
<div class="table-responsive-md">
  <table class="table table-striped centre">
    <thead class="tablehead-darkslategray">
      <tr>
        <th scope="col" colspan="2">4-Star Comfort</th>
        <th scope="col" colspan="2">4-Star Luxury</th>
        <th scope="col" colspan="2">5-Star Luxury</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="row">Low</td>
        <td>High</td>
        <td>Low</td>
        <td>High</td>
        <td>Low</td>
        <td>High</td>
      </tr>
      <tr>
        <td scope="row">$500-$675</td>
        <td>$550-$725</td>
        <td>$800-$1200</td>
        <td>$950-$1350</td>
        <td>$1250</td>
        <td>$1850</td>
      </tr>
    </tbody>
  </table>
</div>
    
      <script src="/src/assets/js/libs/jquery-2.1.4.min.js"></script>
    
      <script src="/src/assets/js/libs/bootstrap.bundle.min.js"></script>
    
    <!--   iFrame Script required for Styleguide only -->
    <script src="/styleguide/js/libs/iframeResizer.contentWindow.min.js" defer></script>
  </body>
</html>