<!DOCTYPE HTML>
 <html >
  <head>
    <meta charset="utf-8">
    <title>Table (5 columns with linebreak) | </title>
    <meta name="description" content="DESCRIPTION">
    <meta name="author" content="AUTHOR NAME">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/src/assets/images/icon.ico">
    
      <link rel="stylesheet" href="/src/assets/css/theme.bundle.css" media="screen">
    
      <link rel="stylesheet" href="/src/assets/css/bootstrap.min.css" media="screen">
    
      <link rel="stylesheet" href="/src/assets/css/style.css" media="screen">
    
  </head>
  <body id="content">
    <div class="table-responsive-md">
  <table class="table table-striped centre">
    <thead class="tablehead-darkslategray">
      <tr>
        <th scope="col"></th>
        <th scope="col">Long Rains</th>
        <th scope="col">Short Rains</th>
        <th scope="col">Long Dry</th>
        <th scope="col">Short Dry</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Months</th>
        <td>April to May</td>
        <td>November to December</td>
        <td>June to October</td>
        <td>January to March</td>
      </tr>
      <tr>
        <th scope="row">Average Temperatures</th>
        <td><div class="linebreak">72-81°F</div> 22-27°C</td>
        <td><div class="linebreak">81-86°F</div> 27-30°C</td>
        <td><div class="linebreak">70-81°F</div> 21-27°C</td>
        <td><div class="linebreak">84°F</div> 29°C</td>
      </tr>
    </tbody>
  </table>
</div>
    
      <script src="/src/assets/js/libs/jquery-2.1.4.min.js"></script>
    
      <script src="/src/assets/js/libs/bootstrap.bundle.min.js"></script>
    
    <!--   iFrame Script required for Styleguide only -->
    <script src="/styleguide/js/libs/iframeResizer.contentWindow.min.js" defer></script>
  </body>
</html>